@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oi&family=PT+Mono&family=Righteous&family=Unbounded:wght@300;800&display=swap');

:root {
  --yellow1: #fbbf24;
  --yellow2: #ea580c;
  --blue1: #38bdf8;
  --blue2: #0369a1;
  --dark: #082f49;
  --pink: #fee2e2;
  --neutral: #a8a29e;
  --header-font: Unbounded;
  --body-font: Abel;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background: var(--blue1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  color: var(--yellow2);
  font-family: var(--body-font);
}

.circle1 {
  position: absolute;
  z-index: -1;
  left: -220px;
  top: -100px;
  width: 65%;
  height: 130%;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(2, 44, 142), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  /* filter: contrast(100%) brightness(160%); */
}

.circle3 {
  position: absolute;
  z-index: -5;
  background: var(--pink);
  border-radius: 45%;
  width: 72%;
  height: 100vh;
}

.circle2 {
  position: absolute;
  z-index: -1;
  right: -220px;
  top: 100px;
  width: 65%;
  height: 100%;
  border-radius: 50% 20% 10% 50%;
  background: var(--blue2);
}

#mayfly {
  position: absolute;
  top: 30%;
  left: 80%;
  transform-origin: 200% center;
  background-color: var(--yellow2);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: rotate 7s linear reverse infinite;
  cursor: pointer;
}

#mayfly:before {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotate 3s linear reverse infinite;
}

#mayfly img {
  width: 98%;
}

#mayfly-popup {
  position: absolute;
  top: 20%;
  font-size: 1.5em;
  font-style: italic;
  text-transform: uppercase;
  color: var(--dark);
  animation: slide-left 30s linear infinite;
}

h1 {
  font-family: var(--header-font);
  color: var(--yellow1);
  text-shadow: -2px 2px 3px var(--yellow2),
      2px -2px 3px var(--yellow2),
      2px 2px 3px var(--yellow2),
      -2px -2px 3px var(--yellow2);
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
}

#earth-age-form,
.form-container {
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#earth-age-form button,
.form-container button {
  border-style: none;
  font-family: var(--body-font);
  text-transform: uppercase;
  font-size: 1.8em;
  border-radius: 2px;
  background-color: var(--yellow1);
  color: var(--dark);
}

#earth-age-form button:hover,
.form-container button:hover {
  background-color: var(--yellow2);
  box-shadow: 2px 2px 2px var(--dark);
  transition: 0.2s;
}

#earth-age-form input,
.form-container input {
  border-style: none;
  border-radius: 2px;
  width: 80px;
  font-family: var(--body-font);
  font-size: 1.8em;
}

#earth-age-form label,
.form-container label {
  font-size: 1.8em;
  text-transform: uppercase;
  align-self: center;
  color: var(--dark);
  font-weight: bolder;
}

.form-container {
  width: 50%;
}

.form-container form {
  background-color: var(--neutral);
  margin: 1.2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-radius: 20px;
  font-size: .8em;
}


.planet-container {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
  padding: .5em;
  margin: 1em;
}

.planet-container > div {
  background-color: black;
  border-radius: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-container > div > img {
  height: 20vh;
  width: auto;
  padding: 1em;
}

.planet-container h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--yellow1);
}


@keyframes rotate { 100% {
  transform:rotate(-360deg);
}}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}